.THIS .item_labelXX {
    display:inline-block;
    width:150px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.THIS #timelineContainer {
	position: relative;
}

.THIS #controlDiv {
	position: absolute; top: 0px; right: 0px; z-index: 5; padding: 3px; 
}

.THIS #dateSelDiv {
	position: absolute; top: 30px; right: 40px; z-index: 5; padding: 3px; 
    border-color: #259feb!important;
    border-width: thin!important;
    border-style: solid;
    background-color: #FFFFFF;
}

.THIS .slds-icon-standard-log_a_call {
    background-color: #41c4cb!important;
}

.THIS .slds-icon-standard-case_milestone {
    background-color: #f3d064!important;
}

.THIS #infoDiv {
  position: absolute; bottom: 0px; right: 0px; z-index: 5; padding: 3px; 
  color: #259feb;
  font-size: 10px;
}

.THIS .imageDiv {
	vertical-align:middle; 
    text-align:center;
}

.THIS .Complete {
	background-color: #99d199;
}

.THIS .Overdue {
	background-color: #d39698;
}

.THIS .hide {
    display: none;
}