.THIS .item_labelXX {
    display:inline-block;
    width:150px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.THIS #timelineContainer {
	position: relative;
}

.THIS #resetDiv {
	position: absolute; top: 0px; right: 0px; z-index: 999; padding: 3px; 
}

.THIS #fitDiv {
	position: absolute; top: -2px; left: 0px; z-index: 999; padding: 5px; 
}


.THIS .Complete {
	background-color: #99d199;
}

.THIS .Overdue {
	background-color: #d39698;
}

.THIS .hide {
    display: none;
}